<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/home" routerLinkActive="active" class="brand-link">
    <img src="assets/Logo.png" alt="TaskSheet Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">TaskSheet</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <i class="fas fa-user-circle fa-2x"></i>
        <!-- <img src="assets/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" /> -->
      </div>
      <div class="info">
        <a routerLink="/profile" routerLinkActive="active" class="d-block">{{ userName }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fap-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a class="nav-link">
            <i class="nav-icon fas fap-master"></i>
            <p>Master</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/clients" routerLinkActive="active" class="nav-link">
                <i class="far fap-clients nav-icon"></i>
                <p>Clients</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/projects" routerLinkActive="active" class="nav-link">
                <i class="far fap-projects nav-icon"></i>
                <p>Projects</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/tasks" routerLinkActive="active" class="nav-link">
                <i class="far fap-tasks nav-icon"></i>
                <p>Tasks</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item menu-open">
          <a class="nav-link">
            <i class="nav-icon fas fap-entry"></i>
            <p>Entry</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/client" routerLinkActive="active" class="nav-link">
                <i class="far fap-client-entry nav-icon"></i>
                <p>Client Entry</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/project" routerLinkActive="active" class="nav-link">
                <i class="far fap-project-entry nav-icon"></i>
                <p>Project Entry</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/task" routerLinkActive="active" class="nav-link">
                <i class="far fap-task-entry nav-icon"></i>
                <p>Task Entry</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item menu-open">
          <a class="nav-link">
            <i class="nav-icon fas fap-transaction"></i>
            <p>Transaction</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/trackers" routerLinkActive="active" class="nav-link">
                <i class="far fap-trackers nav-icon"></i>
                <p>Trackers</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/tracker" routerLinkActive="active" class="nav-link">
                <i class="far fap-tracker-entry nav-icon"></i>
                <p>Tracker Entry</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="/tracker" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tracker Bulk</p>
              </a>
            </li> -->
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
