<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Trackers</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active">Trackers</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="content">
    <div class="container-fluid">
      <form [formGroup]="filterForm">
        <div class="row">
          <div class="col-6">
            <div class="form-group d-flex align-items-center">
              <label class="control-label w-25">Select Task:</label>
              <select id="inputTask" formControlName="taskId" class="form-control custom-select">
                <option selected disabled>Select one</option>
                <option *ngFor="let item of TaskList" [value]="item._id">{{ item.taskName }}</option>
              </select>
              <button href="javascript:void(0);" type="reset" class="btn btn-secondary ml-5">Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Trackers</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" routerLink="/tracker" routerLinkActive="active">
            <i class="fas fa-plus mr-1"></i> Tracker Entry
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th style="width: 1%; text-align: center">#</th>
              <th style="width: 10%">Resource</th>
              <th style="width: 20%">Check-In</th>
              <th style="width: 20%">Check-Out</th>
              <th style="width: 10%">Actual Hrs</th>
              <th style="width: 10%">Billable Hrs</th>
              <th style="width: 40%"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of TrackerList
                  | orderBy: 'desc':'_id'
                  | filter: 'taskId':filterForm.get('taskId').value
                  | slice: (page - 1) * pageSize:page * pageSize
              "
            >
              <td>{{ item.taskId }}</td>
              <td>
                <a>
                  {{ item.createBy }}
                </a>
              </td>
              <td>{{ displayDate(item.checkOut) }} {{ displayTime(item.checkIn) }}</td>
              <td>{{ displayDate(item.checkOut) }} {{ displayTime(item.checkOut) }}</td>
              <td>
                <a>
                  {{ item.actualHrs }}
                </a>
              </td>
              <td>
                <a>
                  {{ item.billableHrs }}
                </a>
              </td>
              <td class="project-actions text-right">
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" *ngIf="CanView">
                  <i class="fas fa-folder"> </i>
                  View
                </a>
                <a class="btn btn-info btn-sm" href="javascript:void(0);" (click)="ToEdit(item._id)">
                  <i class="fas fa-pencil-alt"> </i>
                  Edit
                </a>
                <a class="btn btn-danger btn-sm" href="javascript:void(0);" *ngIf="CanDelete">
                  <i class="fas fa-trash"> </i>
                  Delete
                </a>
              </td>
            </tr>
            <tr *ngIf="TrackerList.length === 0">
              <td colspan="8">No Data Available</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="TrackerList.length"></ngb-pagination>
        </ul>
      </div>
    </div>
  </div>
</div>
