<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Profile</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active">User Profile</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <i class="fas fa-user-circle fa-2x"></i>
                <!-- <img class="profile-user-img img-fluid img-circle"
                         src="assets/user4-128x128.jpg"
                         alt="User profile picture"> -->
              </div>

              <h3 class="profile-username text-center">{{ user.username }}</h3>

              <p class="text-muted text-center" *ngIf="user.designation">{{ user.designation }}</p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Clients</b> <a class="float-right">{{ userStats.clients }}</a>
                </li>
                <li class="list-group-item">
                  <b>Projects</b> <a class="float-right">{{ userStats.projects }}</a>
                </li>
                <li class="list-group-item">
                  <b>Tasks</b> <a class="float-right">{{ userStats.tasks }}</a>
                </li>
              </ul>
              <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#basic" data-toggle="tab">
                    <i class="fas fa-info-circle mr-1"></i> Basic Info
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#updateinfo" data-toggle="tab">
                    <i class="fas fa-wrench mr-1"></i> Update Info
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" data-toggle="tab">
                    <i class="fas fa-key mr-1"></i> Security & Privacy
                  </a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="basic">
                  <!-- <dl class="row">
                    <dt class="col-sm-3">Registered Email ID</dt>
                    <dd class="col-sm-9">{{ user.email }}</dd>
                    <dt class="col-sm-3">Joined At</dt>
                    <dd class="col-sm-9">{{ displayDate(user.createdAt) }}</dd>
                    <dt class="col-sm-3">Last Updated At</dt>
                    <dd class="col-sm-9">{{ displayDate(user.updatedAt) }}</dd>
                  </dl> -->
                  <dl>
                    <dt>About Me</dt>
                    <dd>{{ user.aboutMe }}</dd>
                    <dt>Email Id</dt>
                    <dd>{{ user.email }}</dd>
                    <dd>
                      User Joined At <b>{{ displayDate(user.createdAt) }}</b>
                    </dd>
                    <dd>
                      Last Updated At <b>{{ displayDate(user.updatedAt) }}</b>
                    </dd>
                  </dl>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="updateinfo">
                  <app-update-info></app-update-info>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                  <app-change-password></app-change-password>
                  <app-change-email></app-change-email>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
