<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="small-box bg-default">
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay dark" *ngIf="IsBackLogLoading">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <!-- end loading -->
            <div class="inner">
              <h3>{{ backlogTasks?.length }}</h3>

              <p>BackLog Tasks</p>
            </div>
            <div class="icon">
              <!-- <i class="far fap-tasks nav-icon"></i> -->              
              <i class="fas fa-hourglass-start"></i>
            </div>
            <a href="javascript:void(0);" (click)="ShowBackLogTask = !ShowBackLogTask" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="small-box bg-info">
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay dark" *ngIf="IsOnGoingLoading">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <!-- end loading -->
            <div class="inner">
              <h3>{{ onGoingTasks.length }}</h3>

              <p>On Going Tasks</p>
            </div>
            <div class="icon">
              <i class="fas fa-hourglass-half"></i>
            </div>
            <a href="javascript:void(0);" (click)="ShowOnGoingTask = !ShowOnGoingTask" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- /.info-box -->
        </div>    
        <div class="col-12 col-sm-6 col-md-3">
          <div class="small-box bg-success">
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay dark" *ngIf="IsCompleteLoading">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <!-- end loading -->
            <div class="inner">
              <h3>{{ completedTasks.length }}</h3>

              <p>Completed Tasks</p>
            </div>
            <div class="icon">
              <!-- <i class="far fa-check-circle"></i> -->
              <i class="fas fa-hourglass-end"></i>
            </div>
            <a href="javascript:void(0);" (click)="ShowCompleteTask = !ShowCompleteTask" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- /.info-box -->
        </div>        
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <div class="content">
    <div class="container-fluid"> 
      <div class="row" *ngIf="ShowBackLogTask">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">BackLog Tasks</h3>
  
              <div class="card-tools">               
                <button type="button" class="btn btn-tool" (click)="ShowBackLogTask = !ShowBackLogTask" title="Remove">
                  <i class="fas fa-times"></i>
                </button>           
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Task</th>
                    <th>Estimated Hrs</th>
                    <th>Actual Hrs</th>
                    <th>Billable Hrs</th>
                    <!-- <th>Progress</th>
                    <th style="width: 40px">Label</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of backlogTasks | orderBy: 'desc':'_id' | slice: (page - 1) * pageSize:page * pageSize">
                    <td>{{item._id}}</td>
                    <td>{{item.taskName}}</td>
                    <td>{{item.estimatedHrs | toHours : 'HH:mm Hrs'}}</td>
                    <td>{{item.actualHrs | toHours : 'HH:mm Hrs'}}</td>
                    <td>{{item.billableHrs | toHours : 'HH:mm Hrs'}}</td>                    
                  </tr>                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="backlogTasks.length"></ngb-pagination>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="ShowOnGoingTask">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">On-Going Tasks</h3>
  
              <div class="card-tools">               
                <button type="button" class="btn btn-tool" (click)="ShowOnGoingTask = !ShowOnGoingTask" title="Remove">
                  <i class="fas fa-times"></i>
                </button>           
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Task</th>
                    <th>Estimated Hrs</th>
                    <th>Actual Hrs</th>
                    <th>Billable Hrs</th>
                    <th style="width: 10%"></th>
                    <!-- <th>Progress</th>
                    <th style="width: 40px">Label</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of onGoingTasks | orderBy: 'desc':'_id' | slice: (OnPage - 1) * OnPageSize:OnPage * OnPageSize">
                    <td>{{item._id}}</td>
                    <td>{{item.taskName}}</td>
                    <td>{{item.estimatedHrs | toHours : 'HH:mm Hrs'}}</td>
                    <td>{{item.actualHrs | toHours : 'HH:mm Hrs'}}</td>
                    <td>{{item.billableHrs | toHours : 'HH:mm Hrs'}}</td>
                    <td class="project-actions text-right p-2">
                      <a class="btn btn-info btn-sm" href="javascript:void(0);" (click)="toTracker(item._id)">
                        <i class="fas fa-plus"> </i>
                        Add Tracker
                      </a>
                    </td>
                  </tr>                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <ngb-pagination [(page)]="OnPage" [pageSize]="OnPageSize" [collectionSize]="onGoingTasks.length"></ngb-pagination>
              </ul>
            </div>
          </div>
        </div>
      </div>      
      <div class="row" *ngIf="ShowCompleteTask">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Completed Tasks</h3>
  
              <div class="card-tools">               
                <button type="button" class="btn btn-tool" (click)="ShowCompleteTask = !ShowCompleteTask" title="Remove">
                  <i class="fas fa-times"></i>
                </button>           
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Task</th>
                    <th>Estimated Hrs</th>
                    <th>Actual Hrs</th>
                    <th>Billable Hrs</th>
                    <!-- <th>Progress</th>
                    <th style="width: 40px">Label</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of completedTasks | orderBy: 'desc':'_id' | slice: (CompPage - 1) * CompPageSize:CompPage * CompPageSize">
                    <td>{{item._id}}</td>
                    <td>{{item.taskName}}</td>
                    <td>{{item.estimatedHrs | toHours : 'HH:mm Hrs'}}</td>
                    <td>{{item.actualHrs | toHours : 'HH:mm Hrs'}}</td>
                    <td>{{item.billableHrs | toHours : 'HH:mm Hrs'}}</td>                    
                  </tr>                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <ngb-pagination [(page)]="CompPage" [pageSize]="CompPageSize" [collectionSize]="completedTasks.length"></ngb-pagination>
              </ul>
            </div>
          </div>
        </div>
      </div>             
    </div>
  </div>
</div>
