/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
// @import "~bootstrap/scss/bootstrap";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

.fl-height {
  height: 100vh !important;
}

// Custom Icons for Menus

.fap-dashboard {
  content: url(assets/svg/dashboard.svg);
}

.fap-master {
  content: url(assets/svg/master.svg);
}

.fap-clients {
  mask: url(assets/svg/clients.svg);
  mask-repeat: no-repeat;
}

.fap-projects {
  mask: url(assets/svg/projects.svg);
  mask-repeat: no-repeat;
}

.fap-tasks {
  mask: url(assets/svg/tasks.svg);
  mask-repeat: no-repeat;
}

.fap-entry {
  content: url(assets/svg/entry.svg);
}

.fap-client-entry {
  mask: url(assets/svg/client-entry.svg);
  mask-repeat: no-repeat;
}

.fap-project-entry {
  mask: url(assets/svg/project-entry.svg);
  mask-repeat: no-repeat;
}

.fap-task-entry {
  mask: url(assets/svg/task-entry.svg);
  mask-repeat: no-repeat;
}

.fap-transaction {
  content: url(assets/svg/transaction.svg);
}

.fap-trackers {
  mask: url(assets/svg/trackers.svg);
  mask-repeat: no-repeat;
}

.fap-tracker-entry {
  mask: url(assets/svg/tracker-entry.svg);
  mask-repeat: no-repeat;
}

.fap-reports {
  content: url(assets/svg/reports.svg);
}

